<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Application">
            <directory>../module</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../module/Application/src</directory>
        </whitelist>
    </filter>
</phpunit>
